apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
  namespace: lastmile
  labels:
    app: notification-service
spec:
  replicas: 1   
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: siddhesh1712/notification-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8086

          
          env:
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-service.lastmile.svc.cluster.local:9092"

          
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
