apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-deployment
  namespace: lastmile
  labels:
    app: user-service
spec:
  replicas: 1   # HPA will overwrite this when scaling
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: siddhesh1712/user-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081

          # Spring Boot ENV Variables
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres-service:5432/user_db
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
            

          # Resource requests needed for HPA
          resources:
            requests:
              cpu: "150m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
